In [8]:
import pandas as pd
new_data = {'tenure':53, 'OnlineSecurity': 2, 'TechSupport': 2, 'Contract': 0, 'MonthlyCharges' : 71.85, 'TotalCharges':3827.90}

data2 = pd.DataFrame(new_data, index = ['Pelanggan'])
data2

,tenure,OnlineSecurity,TechSupport,Contract,MonthlyCharges,TotalCharges
Pelanggan,53,2,2,0,71.85,3827.9

In [9]:
import tensorflow as tf
prediksi = tf.convert_to_tensor(data2)

In [ ]:
Hasil_prediksi = model_elu.predict(prediksi)

In [3]:
import requests
URL = "http://127.0.0.1:5000/predict"
data = {'tenure': 53,
        'OnlineSecurity': 0,
        'TechSupport': 0,
        'Contract': 0,
        'MonthlyCharges': 10,
        'TotalCharges': 3000}
r = requests.post(URL, json=data)
data = r.json()
data

{'result': {'class_name': 'No', 'result': 0}, 'success': True}

In [13]:
r.status_code

200